// COLOR
$color-primary-ja:#68BE8D;
$color-primary-en:#EF857D;
$color-secondary-ja:#3EB370;
$color-secondary-en:#EA5550;

$color-default:#707070;
$color-grey-light:#dcdcdc;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-blue-white:#FFFAFA;
$color-white: #fff;
$color-black: #000;
//FONT SIZE
$font-size-xl: 3rem;
$font-size-l: 2rem;
$font-size-m: 1.6rem;
$font-size-s: 1.3rem;
$font-size-xs: 1.1rem;