.profile-section{
    background-color: $color-primary-ja;
    color:$color-white;
    min-height: 105rem;

    &--en{
        background-color: $color-primary-en;
    }
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__image{

    }

    .avatarImg{
        height: 13rem;
        width: 13rem;
        border-radius: 50%;
    }

    .profile-content{

        &__country{

            .flag{
                height: 3rem;
            }
        }

        &__name{
            font-size: $font-size-l;
            font-weight: 500;
            letter-spacing: 2px;
            margin: 3rem 0;
        }

        &__introduction{
            text-align: left;
            margin-bottom: 3rem;
            padding: 0 15rem;
            line-height: 18px;

            @include respond(tab-port){
                padding: 0 5rem;

            }
        }

        &__btn{
            text-align: right;
            margin-right: 8rem;
        }
    }
}
    // CREATE PROFILE

.profileChange{
    
    .profileCreate{
        background-color: $color-blue-white;
    }

        .create-content{
            width: 100%;
        }
    
        .blankRound{
            height:13rem;
            width: 13rem;
            border: 2px dotted $color-default;
            background-color: $color-white;
            border-radius: 50%;
        }

        .name-country{
            display: flex;
            justify-content: space-around;
        }

        .create-flag{
            height: 6rem;
        }

        .create-textarea{
            width: 100%;
        }
        .flags{
            display: flex;
            align-items: center;
        }
}

